body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

section > h2 {
    font-size: 2em;
    padding-bottom: .6em;
    font-weight: 700;
}

.underline {
   margin-bottom: 10px;
   border-bottom: 1px solid lightgray; 
}

#role {
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: .6em;
}

.underline, li {
    font-size: 14px;
}

section > h3 {
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 500;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
    font-size: 14px;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}
